!connections

## Example of a music question
# For example, the first clue downloads 40 seconds (by default, since
# rounds last for 40 seconds) of music from
# https://www.youtube.com/watch?v=CDdvReNKKuk , starting 51 seconds in.
# Upon reveal, the tile would say "Amazing Grace".

- Songs using the pentatonic scale
https://www.youtube.com/watch?v=2tae3rpIvpg
Amazing Grace
https://www.youtube.com/watch?v=v8frEt6w4G8 8
Swing Low, Sweet Chariot
https://www.youtube.com/watch?v=wPnhaGWBnys 11
Auld Lang Syne
https://www.youtube.com/watch?v=NpLtf_-XnRo 62
Spring on the Moonlit River

## Example of a picture question
# For example, the first clue downloads the image from
# https://upload.wikimedia.org/wikipedia/commons/thumb/0/0c/USA_tar_bubble_la_brea_CA.jpg/284px-USA_tar_bubble_la_brea_CA.jpg
# Upon reveal, the tile would say "tar".

- Commands that you type into a terminal
https://upload.wikimedia.org/wikipedia/commons/thumb/0/0c/USA_tar_bubble_la_brea_CA.jpg/284px-USA_tar_bubble_la_brea_CA.jpg
tar
https://media.kare11.com/assets/KARE/images/537657503/537657503_750x422.jpg
dig
https://upload.wikimedia.org/wikipedia/commons/thumb/3/3a/Cat03.jpg/1200px-Cat03.jpg
cat
https://upload.wikimedia.org/wikipedia/commons/thumb/d/db/OD_Compact_disc.svg/2000px-OD_Compact_disc.svg.png
cd

## Example of using backtick to escape strings

- Clues that would ordinarily get interpreted specially in pi-connect-maker
`https://www.youtube.com/
`http://image.com/
`images/clue.png
`audio/clue.mp3

- Shades of blue
persian
sky
azure
periwinkle

- Abecederian words
almost
forty
biopsy
beefily

- Web browsers
edge
chrome
safari
firefox

!sequences

- String quartet
cello
viola
violin
violin

- Ubuntu version suffixes
yak
zapus
aardvark
beaver

- Chemical elements
hydrogen
helium
lithium
beryllium

- Brightest stars as seen from the Earth
Alpha Centauri
Canopus
Sirius
The Sun

- Days of the week
mon
tues
wednes
thurs

- Colors of the rainbow
red
orange
yellow
green

!walls

## WALL 1

- Swap the second and third letters to get another word
silver
tarp
crooner
stain

- ___age
bronze
percent
old
ramp

- End of lines of the poem "Roses are Red"
red
blue
sweet
you

- Quantum ___
leap
foam
dot
teleportation

## WALL 2

- tri___
angular
force
tone
al

- Moves that Charmander learns when levelling up
ember
slash
scratch
smokescreen

- ___ata
err
pin
cant
chord

- Words for numbers
pair
dozen
score
gross

!vowels

# The vowels are removed and the spaces inserted randomly at the point
# when you upload the game file to the app. This means that the clue
# may look different with each run of the game.
# 
# Use "=" to provide a custom devowelization/respacing.

- Flowers
Daisy
Chrysanthemum
Orchid
=Y LLWR VR
Yellow river

- Novels
Gone with the Wind
To Kill a Mockingbird
Oliver Twist
Ulysses

- Orders
At ease
The Illuminati
General Gao's chicken
Eleven

- Cardinal directions in Chinese
=X
Xī
=DNG
dōng
=NN
nán
=B
běi
